
html{
    box-sizing: border-box;
    height: 100%;
    scroll-behavior: smooth;
}
*,
*::before,
*::after{
    box-sizing: inherit;
}
body {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: "Arial", sans-serif;
    font-size: 16px;
    line-height: 26px;
    color: #000;
    background-color: #fff;
}
img {
    max-width: 100%;
    height: auto;
    margin: 0 auto;
}