.site-footer {
    background-image: url(../../imges/site-footer.png);
    padding: 80px 0 0 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: calc(50% + 1px);
    color: #fff;
}
.site-footer__title-content {
    width: 188px;
    margin: 0 auto;
    margin-bottom: 20px;
    text-align: center;
}
.site-footer__title {
    margin: 0;
    padding-bottom: 17px;
    border-bottom: 1px solid;
}
.site-footer__form {
    display: flex;
    justify-content: center;
}
.site-footer-input {
    padding: 18px 20px;
    padding-right: 200px;
    border-radius: 5px;
}
.site-footer__button {
    padding: 18px 45px;
    background-color: rgba(255, 255, 255, 0.553);
}
.site-footer__nav-wrapper {
    display: flex;
    margin-top:  90px;
    padding: 30px 200px;
    justify-content: space-between;
}
.site-footer__cards {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}
.site-footer__item {
    &:not(:last-child){
        margin-right: 20px;
    }
}
.site-footer__item-link {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.541);
}
@media only screen and (max-width:800px) {
    .site-footer__cards{
        flex-wrap: wrap;
    }
    .site-footer__form {
        display: block;
        justify-content: center;
    }
    .site-footer__button {
        display: block;
        margin: 0 auto;
    }
    .site-footer-input {
        display: block;
        margin: 0 auto;
        margin-bottom: 10px;
        padding-right: 50px ;
    }
    .site-footer__nav-wrapper{
        padding: 20px;
    }
}